{% extends 'noticiasBase.html.twig' %} {% block title %}{{ encabezado }}{%
endblock %} {% block body %}
<div class="contenedor">
  <header>
    <nav>
      <ul>
        <li><a href="{{ url('home') }}">Inicio</a></li>
        <li><a href="{{ url('noticias') }}">Noticias</a></li>
        <li><a href="{{ url('nosotros') }}">Sobre nosotros</a></li>
      </ul>
    </nav>
    <hr />
    <h1>{{ titulo }}</h1>
  </header>
  <div class="section1">
    <h2>Lorem, ipsum dolor.</h2>
    <section class="s1">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui
        sunt hic? Unde esse ratione dolore voluptates deserunt porro cum totam
        vitae magni, sed quis? Cumque tenetur veniam ipsa commodi. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Voluptate qui sunt hic?
        Unde esse ratione dolore voluptates deserunt porro cum totam vitae
        magni, sed quis? Cumque tenetur veniam ipsa commodi.
      </p>
    </section>
  </div>
  <div class="section2">
    <h2>Lorem, ipsum dolor.</h2>
    <section class="s2">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui
        sunt hic? Unde esse ratione dolore voluptates deserunt porro cum totam
        vitae magni, sed quis? Cumque tenetur veniam ipsa commodi. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Voluptate qui sunt hic?
        Unde esse ratione dolore voluptates deserunt porro cum totam vitae
        magni, sed quis? Cumque tenetur veniam ipsa commodi.
      </p>
    </section>
  </div>
  <div class="section3">
    <h2>Lorem, ipsum dolor.</h2>
    <section class="s3">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui
        sunt hic? Unde esse ratione dolore voluptates deserunt porro cum totam
        vitae magni, sed quis? Cumque tenetur veniam ipsa commodi. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Voluptate qui sunt hic?
        Unde esse ratione dolore voluptates deserunt porro cum totam vitae
        magni, sed quis? Cumque tenetur veniam ipsa commodi.
      </p>
    </section>
  </div>
  <div class="contenido2">
    <h2>Lo último de la moda</h2>
    <section class="s4">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur nihil
        magni consectetur. Molestiae quas, aut suscipit velit quibusdam odio
        nesciunt provident quod aspernatur eos nemo voluptatem minus laborum
        fuga distinctio! Dolorum doloribus asperiores quis, ducimus harum
        possimus quam corrupti laborum laboriosam. Illo nobis numquam
        dignissimos alias. Praesentium id ipsum, culpa tenetur facere impedit
        illo excepturi ducimus saepe fugit reiciendis fugiat? Fugit, in rem
        debitis dolore sit, velit consequuntur porro maiores corporis sapiente
        itaque. Nisi tempore suscipit odit architecto quia explicabo ad corrupti
        quisquam? Nesciunt facilis neque, deserunt distinctio quasi fuga. Lorem,
        ipsum dolor sit amet consectetur adipisicing elit. Pariatur nihil magni
        consectetur. Molestiae quas, aut suscipit velit quibusdam odio nesciunt
        provident quod aspernatur eos nemo voluptatem minus laborum fuga
        distinctio! Dolorum doloribus asperiores quis, ducimus harum possimus
        quam corrupti laborum laboriosam. Illo nobis numquam dignissimos alias.
        Praesentium id ipsum, culpa tenetur facere impedit illo excepturi
        ducimus saepe fugit reiciendis fugiat? Fugit, in rem debitis dolore sit,
        velit consequuntur porro maiores corporis sapiente itaque. Nisi tempore
        suscipit odit architecto quia explicabo ad corrupti quisquam? Nesciunt
        facilis neque, deserunt distinctio quasi fuga.
      </p>
    </section>
  </div>
  <footer><p>Curso PHP & Symfony</p></footer>
</div>
{% endblock %}
